.patient {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 1rem;
  border-top: 1px solid #ddd;
  box-shadow: 0 0 0.5rem 0.5rem #eee;
}

.patient--missing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-style: italic;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  background: lightpink;
}

.patient > * {
  margin: 0;
}

.patient > * + * {
  margin-top: 2rem;
}

.patient__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.patient__row > * {
  margin: 0;
}

.patient__row > * + * {
  margin-left: 1rem;
}

.patient__weight-plot {
  flex-grow: 2;
  max-width: 35rem;
}

